html {
  position: relative;
  min-height: 100%; }

body {
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  color: white;
  /*color: #383e47;*/
  width: 100%;
  background-color: #505050;
  /*footer height plus padding*/
  margin-bottom: 200px; }

a {
  color: inherit;
  text-decoration: none; }
  a:link {
    text-decoration: none; }
  a.dotted {
    /*for links*/
    color: #4b444d;
    border-bottom: 2px dotted #cccccc; }
    a.dotted:hover {
      color: #969696; }

h1 {
  font-size: 4em;
  line-height: 1.3em;
  font-weight: bold; }
  @media (max-width: 2570px) {
    h1 {
      font-size: 4.7em; } }
  @media (max-width: 1440px) {
    h1 {
      font-size: 5em; } }
  @media (max-width: 1285px) {
    h1 {
      font-size: 4em; } }

h2 {
  font-size: 2em;
  line-height: 1.7em;
  font-weight: bold; }
  @media (max-width: 2570px) {
    h2 {
      font-size: 2.7em; } }
  @media (max-width: 1440px) {
    h2 {
      font-size: 3em; } }
  @media (max-width: 1285px) {
    h2 {
      font-size: 2em;
      line-height: 1.7em;
      font-weight: bold; } }

h3 {
  font-size: 1.6em;
  line-height: 1.7em;
  font-weight: bold; }

p {
  font-size: 1.6em;
  line-height: 1.9em;
  padding-bottom: 1em; }

/* ======== HEADER ======== */
.logo {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  float: left;
  margin: 15px 0px 0px 15px;
  z-index: 1000; }

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000;
  right: 15px; }

.fa-twitter,
.fa-facebook {
  background-color: rgba(187, 189, 192, 0.9);
  padding: 5px;
  color: #5b5b5b;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook:hover {
    color: #ffffff; }

.header-container h1 {
  text-align: left;
  font-size: 2.7em; }
.header-container h2 {
  font-size: 2.0em;
  margin-left: 10%; }
.header-container p.subtitle {
  width: auto;
  line-height: 1.7em;
  margin-left: 0;
  padding-top: 2vw;
  font-size: 1.7em;
  font-weight: 300; }
.header-container .credits {
  line-height: 1.5em;
  font-weight: 300; }
  .header-container .credits h6 {
    font-size: 1.2em;
    line-height: 1.5em; }
  .header-container .credits span {
    font-weight: 700; }
  .header-container .credits.date {
    margin-top: 1em;
    font-size: 1.0em;
    font-weight: 300; }
.header-container .header {
  position: relative;
  margin-top: 0;
  width: 100%;
  bottom: 0; }
.header-container .header-text {
  position: relative;
  margin-top: 80px; }
.header-container video {
  margin-top: 20px;
  height: 25vw;
  padding: 0;
  min-width: 250px;
  object-fit: cover; }

/* ======== Footer ======== */
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 170px;
  background: #1c2124 none repeat scroll 0 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
  display: block;
  margin-top: 50px; }
  #footer h4 {
    color: white; }

#footer-wraper {
  padding-top: 20px;
  margin-left: 5%;
  margin-left: 5%; }

.links li {
  color: #fff;
  font-size: 0.7em; }
  @media (max-width: 1024px) {
    .links li {
      display: none; } }

.copyright {
  float: left;
  font-size: 0.7em;
  color: #fff; }
  @media (max-width: 1024px) {
    .copyright {
      font-size: 0.5em; } }
  .copyright p {
    padding-bottom: 0px; }

.copying-info {
  padding-top: 20px;
  font-size: 0.7em;
  line-height: 15px;
  color: #888c91; }
  @media (max-width: 1024px) {
    .copying-info {
      padding-top: 10px;
      font-size: 0.5em; } }
  @media (max-width: 767px) {
    .copying-info {
      padding-top: 10px; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A; }

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/open-sans-light.woff") format("woff"); }
.svg-container {
  text-align: center; }

body {
  height: 100vh;
  margin-top: 0;
  color: white; }

p {
  font-size: 1.6em; }

.quote {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3vh;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #B78979; }
  .quote::before {
    font-family: Arial;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0em;
    top: 0.5em; }
    @media (max-width: 767px) {
      .quote::before {
        font-size: 7em; } }

.sources {
  color: #BBC0BF;
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-size: 1.1em; }

.directSpeach {
  font-style: italic; }

.new-section {
  margin-top: 5%; }

@media only screen and (min-width: 800px) {
  .mobile {
    display: none !important;
    padding-top: 0; }

  .desktop {
    display: block !important; } }
@media only screen and (max-width: 799px) {
  .mobile {
    display: block !important; }

  .desktop {
    display: none !important; } }
.read-more {
  margin-bottom: 15px; }

.mobile p.caption {
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 0; }

.main-text {
  margin-top: 90px; }

.small {
  font-size: 1.2em; }

.hsmall {
  font-size: 1.4em; }

h2 span {
  background-color: #f0f0f0; }

.toarticle {
  font-weight: bolder;
  font-size: 1.7em;
  padding-top: 30px; }

.toarticle span {
  background-color: #f0f0f0; }

.mobgif {
  position: relative;
  width: 100%; }

.tab {
  margin-bottom: 60px; }

.parking-group {
  margin-top: 200px; }

.parking-group:first-child {
  margin-top: 20px; }

.main-text h3 {
  font-size: 2em; }

.disclaimer {
  font-size: 1.3em; }

.disclaimer.main-text {
  margin-top: 0; }

.disclaimer h4 {
  border-top: 3px solid #383e47;
  font-weight: 600;
  padding-top: 0.5em;
  display: inline-block; }

.disclaimer p, .disclaimer li, .disclaimer h5 {
  font-size: 12px;
  line-height: 1.5; }

.disclaimer h5 {
  font-weight: 800; }

.disclaimer .pointer {
  cursor: pointer;
  border-bottom: 1px dashed;
  display: inline-block; }

.breadcrumb > li > a {
  text-decoration: underline; }

.breadcrumb > li + li:before {
  padding: 10px; }

ul.breadcrumb {
  background: none;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 1.5em;
  color: white; }
  ul.breadcrumb li {
    padding-bottom: 40px;
    padding-top: 40px; }
  ul.breadcrumb li:focus a, ul.breadcrumb li:hover a {
    color: white; }
  ul.breadcrumb li.active a {
    color: #faa619; }

.tab-container {
  background: #505050; }

@media (max-width: 991px) {
  .header-container img {
    display: none; } }

/*# sourceMappingURL=application.css.map */
